<div>
  <div *ngFor="let item of (stories$ | async); let i = index; let last = last">
    <h4>{{item.standFirst}} Although if you're talking to.</h4>
    <p>{{item.dateCreated | date }}</p>
    <img *ngIf="item.thumbnailImage?.link && !imageErrorsMap[i] else imagePlaceholder" [src]="item.thumbnailImage?.link" (error)="onImageError(i)"/>
    <ul>
      <li *ngFor="let domainLink of item.domainLinks" >
        <a [href]="domainLink.link">{{domainLink.name}}</a>
      </li>
    </ul>
    <hr *ngIf="!last">
  </div>
</div>

<ng-template #imagePlaceholder>
  <!-- Should be replaced with more suitable placeholder image in keeping with company branding -->
  <img class="image-placeholder"/>
</ng-template>