<ng-template [ngTemplateOutlet]="paginator"></ng-template>

<ng-container *ngFor="let item of stories; let last = last; trackBy: identifyItem">
  <app-stories-table-row [storyData]="item"></app-stories-table-row>
  <hr *ngIf="!last">
</ng-container>

<ng-template [ngTemplateOutlet]="paginator"></ng-template>

<ng-template #paginator >
  <app-paginator [currentOffset]="page.offset" [totalNumberOfPages]="totalNumberOfPages" (onOffsetChange)="offsetChange.emit($event)"></app-paginator>
</ng-template>


