<ng-template [ngTemplateOutlet]="paginator"></ng-template>

<div class="container">
  <div class="frontpage">
    <div *ngFor="let item of stories; let i = index; trackBy: identifyItem" class="fp-cell fp-cell--{{i + 1}}">
      <app-stories-table-row [storyData]="item"></app-stories-table-row>
    </div>
  </div>
</div>

<ng-template [ngTemplateOutlet]="paginator"></ng-template>

<ng-template #paginator >
  <app-paginator [currentOffset]="page.offset" [totalNumberOfPages]="totalNumberOfPages" (offsetChange)="offsetChange.emit($event)"></app-paginator>
</ng-template>


